<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/main.js"></script>

    <title>Gamers Hub</title>
</head>
<body>

<header th:fragment="navbar(activeLink)" class="header">
    <div class="logo"><a href="/">Gamers Hub</a></div>
    <nav class="navbar">
        <ul class="links">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Lobby</a>
            </li>
            <li>
                <a href="contact-us">Contact Us</a>
            </li>
            <li>
                <a href="about-us">About Us</a>
            </li>
        </ul>
        <div class="action-buttons">
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="POST" class="logout-form">
                    <button class="btn_logout" type="submit">Logout</button>
                </form>
            </li>
        </div>

        <div class="profile-pic" id="profile-pic">
            <img src="/images/avatar-15.png" alt="Profile Picture">
        </div>

        <div class="dropdown_menu" id="dropdownMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/properties/">Properties</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
<!--            <li sec:authorize="hasRole('ADMIN')"><a href="/admin">Admin Panel</a></li>-->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:method="post"
                      th:action="@{/logout}">
                    <input class="action_btn" type="submit" value="Logout"/>
                </form>
            </li>

        </div>

    </nav>


</header>
</body>
</html>