* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pacifico", cursive;
}

body {
    background-color: black;
}

.header {
    background: transparent;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 12.5%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 18px;
}

.navbar a {
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    background: transparent;
    border-radius: 20px;
    scale: 1.2;
    font-weight: 500;
}

.logo a {
    text-decoration: none;
    font-size: 2.8rem;
    color: black;
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

.background {
    width: 100%;
    height:100vh;
    background: url("/src/main/resources/static/images/bg2.jpg") no-repeat;
    background-position: center;
    filter: blur(8px);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 660px;
    background: url("/src/main/resources/static/images/bg2.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 60px;
}

.container .content {
    position: absolute;
    padding: 11rem 5rem;
    top: 0;
    left: 0;
    background: transparent;
    width: 58%;
    height: 100%;
    color: black;
}

.container .logreg-box {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    width: 42%;
    height: 100%;
}

.social-links a i{
    font-size: 3rem;
    color: white;
    transition: .3s ease;
}

.social-links a:hover i {
    transform: scale(1.3);
}

.content .logo {
    font-size: 60px;
}

.content .text-info {
    margin-bottom: 6rem;
    font-size: 40px;
    line-height: 3rem;
}

.content p {
    font-size: 20px;
    margin: 20px 0;
    margin-bottom: 5rem;
}

.content span {
    font-size: 30px;
}

.logreg-box .form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 60px;
}

.form-box h2 {
    font-size: 42px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: .5s ease;
    
}

.input-box input:focus~label {
    top: -5px;
}

.input-box input.has-content ~ label {
    top: -5px;
    font-size: 0.85em;
    color: #333;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 23px;
}

.form-box .remember-forgot {
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #000;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: rgb(208, 113, 5);
    border: none;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.04);
}

.form-box-login .login-register {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}

.login-register p {
    margin-top: 6px;
}



.form-box.register {
    display: none;
}

.container .user-info {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    width: 42%;
    height: 100%;
}

.contact-form {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    width: 400px;
    border-radius: 15px;
    backdrop-filter: blur(12px); 
    color: rgb(0, 0, 0); 
}

.contact-form input,
.contact-form textarea {
    width: 100%; 
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
    outline: none;
}

.contact-form ::placeholder {
    color: black;
}

.contact-form button {
    background-color: rgb(208, 113, 5); 
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.contact-form button:hover {
    transform: scale(1.04);
}

.contact-form h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 45px;
}

.contact-form textarea {
    resize: none;
}
