* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.header {
    background: transparent;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 12.5%;
    justify-content: space-between;
    font-family: "Pacifico", cursive;
    align-items: center;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar a {
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
}

.navbar a:hover {
    background: rgb(208, 113, 5);
    border-radius: 20px;
    scale: 1.2;
}

.logo a {
    text-decoration: none;
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

.background {
    width: 100%;
    height:100vh;
    background: url("/src/main/resources/static/images/bg.png") no-repeat;
    background-position: center;
    filter: blur(8px);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 660px;
    background: url("/src/main/resources/static/images/bg.png");
    background-size: cover;
    background-position: center;
    border-radius: 60px;
}
