<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="../static/js/main.js"></script>
    
    <title>Gamers Hub</title>
</head>
<body>

    <header class="header">
        <div class="logo"><a href="#">Gamers Hub</a></div>
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Lobby</a>
            <a href="#">Contact Us</a>
            <a href="#">About Us</a>
        </nav>
    </header>

    <div class="background"></div>

    <form>
        <div class="contact-form">
            <div class="wrapper">
                <h1>Contact Us</h1>
                <div class="input-box">
                    <input type="text" name="senderName" placeholder="Your Name" required>
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="input-box">
                    <input type="email" name="senderEmail" placeholder="Your Email" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="input-box">
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <i class="fa-solid fa-comment"></i>
                </div>
                <button type="submit" class="btn-submit">Send Message</button>
            </div>
        </div>
    </form>
    
</body>
</html>