<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <title>Gamers Hub</title>
</head>
<body>
    
    <header class="header">
        <div class="logo"><a href="#">Gamers Hub</a></div>
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Lobby</a>
            <a href="#">Contact Us</a>
            <a href="#">About Us</a>
        </nav>
    </header>

    <div class="background"></div>
    <div class="container">
        <div class="content">
            <h2>Gamers Hub</h2>
            <div class="text-info">
                <h2>Welcome! To Our New Website.</h2>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fugiat cum magnam quod rerum, quos quae laudantium facere obcaecati, magni sit expedita consequuntur, 
                sed autem ea tempore aut laboriosam amet. Dolore, non commodi? Deleniti necessitatibus dolorum alias quis veniam facilis!
            </p>
            
            <div class="social-links">
                <a href="#"></a> <!--linked in -->
                <a href="#"></a> <!--github -->
            </div>
        </div>
        <div class="logreg-box"></div>
    </div>

</body>
</html>